<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/scrollbar.css">
    <link rel="stylesheet" href="css/styles.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/knockout/2.1.0/knockout-min.js'></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/jquery.mousewheel.min.js"></script>
    <script src="/js/hashchange.min.js"></script>
    <script src="/js/timeago.js"></script>
    <script src="/js/Survivors.js"></script>
    <script src="/js/scrollbar.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="span3 scrollbar sidebar">
                <table class="table table-striped survivorList table-hover">
                    <tbody data-bind="foreach: survivors">
                        <tr data-bind="attr: {'data-humanity': humanity}">
                            <td>
                                <div class="healthbarWrapper">
                                    <div class="healthbar" data-bind="attr: {'data-percent': medical.bloodPercent}"></div>
                                </div>
                            </td>
                            <td>
                                <span class="survivorName" data-bind="attr: {'data-unique_id': unique_id}, text: name"></span>
                                <abbr data-bind="text: timeago"></abbr>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="span9">
                <div class="navbar navbar-fixed-top">
                    <div class="navbar-inner">
                        <div class="container">
                            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div class="nav-collapse collapse">
                                <a class="brand" data-bind="text: headline"></a>
                                <div class="nav-collapse collapse">
                                    <ul class="nav">
                                        <li class="active"><a href="#">Dashboard</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="dashboard">
                    <div class="span3 scrollbar">
                        <table class="table table-striped table-hover itemTable">
                            <tbody data-bind="foreach: weapons">
                                <tr>
                                    <td data-bind="text: name"></td>
                                    <td>
                                        <span class="badge" data-bind="text: amount"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $().ready(function() {
            var survivors = new Survivors();
        });
    </script>
</body>
</html>