abbr {
    font-size: 10px;
}

.sidebar {
    height: 600px;
    margin-left: 0px;
    overflow: hidden;
}

.survivorList {
    margin-left: 0px;
    width: 220px;
}

.survivorList {
    border-right:2px solid #CCC;
}

.survivorList tr {
    cursor: pointer;
}

.survivorName {
    display: block;
}

.healthbarWrapper {
    height: 40px;
    width: 3px;
    background-color: #FF0000;
}

.healthbar {
    height: 20px;
    width: 3px;
    background-color: #00d23f;
}

.mCSB_container {
    margin-right: 8px;
}

.navbar {
	margin-left: 213px;
}

.navbar .brand {
	margin-left: -10px;
}

.container {
	margin-right: 10px;
	margin-left: 10px;
}

.itemTable {
    margin-top: 40px;
    height: 600px;
    margin-left: -27px;
    overflow: hidden;
    width: 243px;
}

#loadingOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    top: 0;
    left: 0;
    z-index: 9000;
}